@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Bebas+Neue&family=Neucha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    font-family: 'Artifika', serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Neucha', cursive;
}